<div class="workout-container">
  <!-- Month carousel -->
  <div class="month-wrapper" #monthScroll>
    <div
      *ngFor="let month of months; let i = index"
      class="month-label"
      [class.active]="i === selectedMonthIndex"
      (click)="selectMonth(i)"
      #monthItem
    >
      {{ month }}
    </div>
  </div>

  <!-- Day selector -->
  <div class="day-grid">
    <div
      *ngFor="let muscleGroup of fixedMuscleGroups; let i = index"
      class="day-card"
      [class.selected]="openedDay === i"
      (click)="toggleDay(i)"
      [style.background-image]="muscleGroup.image"
    ></div>
  </div>

  <!-- Dettagli e lista esercizi -->
  <div class="day-details" *ngIf="openedDay !== null">
    <div class="detail-card">
      <!-- Scroll wrapper per la lista esercizi -->
      <div class="inner-list">
        <div
          *ngIf="selectedMuscleGroupExercises.length > 0"
          class="exercises-list"
        >
          <h4>SCHEDA ALLENAMENTO:</h4>
          <ul>
            <li
              *ngFor="
                let exercise of selectedMuscleGroupExercises;
                let idx = index
              "
              class="exercise-item"
            >
              <div class="exercise-info">
                <span class="exercise-name">{{ exercise.name }}</span>
                <span class="exercise-sets">{{ exercise.sets }}</span>
                <span class="exercise-mult">x</span>
                <span class="exercise-reps">{{ exercise.reps }}</span>
                <span class="exercise-weight">
                  <input
                    #weightInput
                    type="number"
                    placeholder="kg"
                    [(ngModel)]="exerciseWeights[exercise.id]"
                    (change)="saveWeight(exercise.id)"
                    (blur)="onInputBlur($event)"
                  />
                </span>
                <span class="workout-name" *ngIf="exercise.workouts?.name">
                  Workout: {{ exercise.workouts.name }}
                </span>
              </div>
            </li>
          </ul>
          <div class="timer-container">
            <h4>Cronometro pausa:</h4>
            <div class="timer-row">
              <div class="timer-display">{{ displayTime }}</div>

              <button
                (click)="startTimer()"
                [disabled]="timerRunning"
                aria-label="Start"
                class="p-button p-button-text"
              >
                <i class="pi pi-play"></i>
              </button>

              <button
                (click)="pauseTimer()"
                [disabled]="!timerRunning"
                aria-label="Pause"
                class="p-button p-button-text"
              >
                <i class="pi pi-pause"></i>
              </button>

              <button
                (click)="resetTimer()"
                aria-label="Reset"
                class="p-button p-button-text"
              >
                <i class="pi pi-refresh"></i>
              </button>
            </div>
          </div>
          <div
            *ngIf="selectedMuscleGroupExercises.length === 0"
            class="no-exercises"
          >
            <p>Nessun esercizio disponibile per questo gruppo muscolare.</p>
          </div>
        </div>

        <!-- Pulsante salva -->
      </div>

      <button class="avvia" (click)="saveAllProgress()">Salva progressi</button>
    </div>
  </div>
</div>
