<div class="workout-container">
  <div class="month-wrapper" #monthScroll>
    <div
      *ngFor="let month of months; let i = index"
      class="month-label"
      [class.active]="i === selectedMonthIndex"
      (click)="selectMonth(i)"
      #monthItem
    >
      {{ month }}
    </div>
  </div>

  <div class="day-grid">

    <div
      *ngFor="let muscleGroup of fixedMuscleGroups; let i = index"
      class="day-card"
      [class.selected]="openedDay === i"
      (click)="toggleDay(i)"
      [style.background-image]="muscleGroup.image"
    ></div>
  </div>

  <div class="day-details" *ngIf="openedDay !== null">
    <div class="detail-card">
      <div
        class="exercises-list"
        *ngIf="selectedMuscleGroupExercises.length > 0"
      >
        <h4>SCHEDA ALLENAMENTO:</h4>
        <ul>
          <li
            *ngFor="let exercise of selectedMuscleGroupExercises;let i = index"
            class="exercise-item"
          >
            <div class="exercise-info">
              <span class="exercise-name">{{ exercise.name }}</span>
              <span class="exercise-sets">{{ exercise.sets }}</span>
              <span class="exercise-mult">x</span>
              <span class="exercise-reps">{{ exercise.reps }}</span>

              <span class="workout-name" *ngIf="exercise.workouts?.name">
                Workout: {{ exercise.workouts.name }}
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Messaggio se non ci sono esercizi -->
      <div
        class="no-exercises"
        *ngIf="selectedMuscleGroupExercises.length === 0"
      >
        <p>Nessun esercizio disponibile per questo gruppo muscolare.</p>
      </div>
    </div>
  </div>
</div>
