.progress-wrapper {
  margin-top: 60px; /* sotto la top-bar */
  margin-bottom: 60px; /* sopra la bottom-bar */
  padding: 20px 15px;
  height: calc(100vh - 120px);
  overflow: hidden;
  background-color: #000;
}

/* Dropdown personalizzata */
.dropdown-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color:  #ffd700;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 250px;
  margin-bottom: 15px;
}

.dropdown-selected {
  width: 100%;
  padding: 5px 30px 5px 10px;
  border-radius: 8px;
  border: 1px solid #ffd700;
  background-color: #111;
  color: white;
  font-size: 13px;
  height: 35px;
  line-height: 25px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-selected:hover {
  border-color: #ffed4e;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffd700;
  transition: transform 0.2s;
  pointer-events: none;
}

.custom-dropdown.open .dropdown-arrow {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  background-color: #111;
  border: 1px solid #ffd700;
  border-top: none;
  border-radius: 0 0 8px 8px;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

.custom-dropdown.open .dropdown-options {
  display: block;
}

.dropdown-option {
  padding: 8px 10px;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #333;
}

.dropdown-option:hover {
  background-color: #333;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option.selected {
  background-color: #ffd700;
  color: #111;
}

/* Lista progressi */
.progress-container {
  background-color: #111;
  color: white;
  border: 1px solid #ffd700;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(255, 215, 0, 0.2);
  padding: 10px;
}

.progress-title {
  margin-bottom: 10px;
  color: #ffd700;
  text-align: center;
  padding:10px;
}

.progress-item {
  padding: 8px;
  border-bottom: 1px solid #ffd70050;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.weight-used {
  font-weight: bold;
  color: #ffd700;
}

.date {
  color: white;
}

.no-progress {
  color: #ccc;
  margin-top: 20px;
  text-align: center;
}

.chart-container {
  margin-top: 20px;
}

.card{
  background-color: #111;
  border: 1px solid #ffd700;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(255, 215, 0, 0.2);
  padding: 10px;
  margin-top: 20px;
}


.custom-legend {
  display: flex;
  align-items: center;
  margin: 20px;
  color: #495057;
  font-family: inherit;
  font-size: 14px;
}

.legend-box {
  width: 12px;
  height: 12px;
  background-color: #42A5F5;
  margin-right: 8px;
  border-radius: 2px;
}
